@font-face {
  font-family: font;
  src: url("/fonts/CCYadaYadaYada-Regular.woff2");
}

html {
  font-family: font;
}

.prose {
  max-width: 80%;
}
.max-w-prose {
  max-width: 80%;
}

main img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  height: auto;
}

/* Flytta ner titeln på startsidan */
article header h1 {
  margin-top: 2rem; /* justera värdet efter behov */
}
