<head>
  <meta charset="utf-8" />
  {{ with .Site.Language.Params.htmlCode | default .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" />

  {{/* Title */}} {{ if .IsHome }}
  <title>{{ .Site.Title | emojify }}</title>
  <meta name="title" content="{{ .Site.Title | emojify }}" />
  {{ else }}
  <title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
  <meta
    name="title"
    content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
  {{ end }} {{/* Description */}} {{ with (.Params.Summary | default
  .Params.Description) | default .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }} {{/* Canonical */}}
  <link rel="canonical" href="{{ .Permalink }}" />

  {{/* Open Graph + Twitter Card */}} {{ $ogImage := "" }} {{ with
  .Params.images }} {{ $ogImage = index . 0 | absURL }} {{ else }} {{ $ogImage =
  "https://seriefolkets-stora-pris.vercel.app/img/og-default.png" }} {{ end }}

  <!-- Open Graph -->
  <meta
    property="og:type"
    content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
  <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
  <meta
    property="og:description"
    content="{{ with .Params.Summary | default .Params.Description | default .Site.Params.description }}{{ . }}{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ $ogImage }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
  <meta
    name="twitter:description"
    content="{{ with .Params.Summary | default .Params.Description | default .Site.Params.description }}{{ . }}{{ end }}" />
  <meta name="twitter:image" content="{{ $ogImage }}" />

  {{/* CSS och JS, Favicons etc. */}} {{ $alg :=
  .Site.Params.fingerprintAlgorithm | default "sha512" }} {{ $cssResources :=
  slice }} {{ $schemeName := .Site.Params.colorScheme | default "blowfish" }} {{
  $cssScheme := resources.Get (printf "css/schemes/%s.css" $schemeName) |
  default (resources.Get "css/schemes/blowfish.css") }} {{ $cssResources =
  $cssResources | append $cssScheme | append (resources.Get
  "css/compiled/main.css") }} {{ with resources.Get "css/custom.css" }}{{
  $cssResources = $cssResources | append . }}{{ end }} {{ if not
  .Site.Params.disableImageZoom | default true }}{{ $cssResources =
  $cssResources | append (resources.Get "lib/zoom/style.css") }}{{ end }} {{
  $bundleCSS := $cssResources | resources.Concat "css/main.bundle.css" |
  resources.Minify | resources.Fingerprint $alg }}
  <link
    rel="stylesheet"
    href="{{ $bundleCSS.RelPermalink }}"
    integrity="{{ $bundleCSS.Data.Integrity }}" />

  {{ $jsAppearance := resources.Get "js/appearance.js" |
  resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify |
  resources.Fingerprint $alg }}
  <script
    type="text/javascript"
    src="{{ $jsAppearance.RelPermalink }}"
    integrity="{{ $jsAppearance.Data.Integrity }}"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" |
  relURL }}"> <link rel="icon" type="image/png" sizes="32x32" href="{{
  "favicon-32x32.png" | relURL }}"> <link rel="icon" type="image/png"
  sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}"> <link rel="icon"
  href="{{ "favicon.ico" | relURL }}"> <link rel="manifest" href="{{
  "site.webmanifest" | relURL }}"> {{/* Schema, analytics etc. */}} {{ partial
  "schema.html" . }} {{ if hugo.IsProduction }} {{ partial "analytics/main.html"
  . }} {{ end }} {{ if templates.Exists "partials/extend-head.html" }} {{
  partialCached "extend-head.html" .Site }} {{ end }} {{ if templates.Exists
  "partials/extend-head-uncached.html" }} {{ partial "extend-head-uncached.html"
  . }} {{ end }}
</head>
